* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 100%);
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cardBody {
  padding: 10px;
  color: white;
  text-align: center;
  width: 350px;
  height: 450px;
  background-color: black;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px white;
}

.inputContainer {
  padding: 3px;
  background: rgb(93, 12, 12);
  margin: 10px;
  color: white;
  border-radius: 10px;
  display: inline-flex;
  justify-content: space-between;
}

.inputFild {
  background: rgb(93, 12, 12);
  color: white;
  border: none;
  padding: 5px;
  width: 250px;
  outline-color: transparent;
}

#emailInputContainer {
  margin-top: 50px;
}

.submitButtonConatiner {
  width: 82%;
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.submit {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
}

.signupLink {
  margin-top: 30px;
}

p > a {
  color: white;
  text-decoration: underline;
}
